/* Custom Fonts */
.devangari { font-family:"Noto Sans Devanagari" !important; }
.devangari-bold { font-family:"Noto Sans Devanagari-Bold" !important; }
html, body { width:100%; height:100%; margin:0; padding:0; }
body { font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:14px; letter-spacing:normal; font-weight:400; -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; -moz-osx-font-smoothing:grayscale; min-height:100%; color:#667; background:#fcfcfc }
img { height:auto; max-width:100%; }
mark { color:#fff; background:rgb(181,67,33); }
hr { display:block; line-height:25px; margin:30px 0; position:relative; width:100%; }
h1, h2, h3, h4, h5, h6 { font-family: "Domine", serif; position: relative; text-transform:capitalize; margin:0; color:#02284D }
h1, h2 { font-weight:300 }
h3, h4 { font-weight:400 }
h5, h6 { font-weight:600 }
h2 { margin-bottom:.6em }
h3 { margin-bottom:.8em }
h4 { margin-bottom:.7em }
h5 { margin-bottom:.8em }
h1 small, h2 small, h3 small { font-size: 50%; font-weight: normal; }
h4 small { font-size: 65%; }
h5 small, h6 small { font-size: 75%; }
a { color:rgb(181,67,33); text-decoration:none; -webkit-transition:all 0.2s linear; transition:all 0.2s linear; }
a:hover, a:focus, a:active, .btn:hover, .btn:focus, .btn:active, button:hover, button:focus, button:active { text-decoration:none; outline:0; box-shadow:none; -webkit-transition:all 0.2s easeout; transition:all 0.2s ease-out; }
.anchor-1 { color:#e8e8e8; }
.anchor-1:hover { color:rgb(181,67,33); }
iframe { border:0; margin:0; overflow:hidden; width:100%; height:auto; }
::-moz-selection {
text-shadow:none;
color:#fff;
background:rgba(181, 67, 33, 0.8);
}
::selection {
text-shadow:none;
color:#fff;
background:rgba(181, 67, 33, 0.8);
}
.modal-backdrop { z-index:0; }
.container { max-width: 980px; }
.navbar { border-radius:0; margin-bottom:0px; }
.brand { width: 310px; height: 100px; margin-top:-35px; }
.logo-sm { display:none }
.top { background: #02284d; }
.top-list { margin-bottom:0px; letter-spacing:1px; }
.top-list, .top-list a { color:#577592 }
.top-list li { float: left; line-height: 45px; list-style: outside none none; padding-left: 20px; font-size: 13px; }
.top-list li i { margin-right:8px; }
/*** Main Nav Menu ***/
.main-nav { text-align: right; white-space: nowrap; padding: 0 0 0 30px; width:100%; margin:0 auto; background:#fff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) }
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
.main-nav .sf-menu li { position: relative; }
.main-nav .sf-menu li:hover, .sf-menu li.sfHover { /* only transition out, not in */ -webkit-transition: none; transition: none; }
.main-nav .sf-menu li a { color: #424e75; display: block; font-size: 14px; font-weight: 500; padding: 35px 15px; position: relative; text-transform: capitalize; }
.main-nav .sf-menu li.current a { color: #424E75; }
.main-nav .sf-menu li.current ul a { color: #424E75; }
.main-nav .sf-menu li ul li.current a { color: #424E75; }
.main-nav .sf-menu ul { background-color: #fff; position: absolute; z-index: 6000; display: none; min-width: 12em; /* allow long menu items to determine submenu width */ *width: 12em; /* no auto sub width for IE7, see white-space comment below */
top: 99%; left: 0; z-index: 99; margin: 1px 0; padding: 0; border-top: solid 2px #c44741; background-color: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .05); box-shadow: 0 1px 3px rgba(0, 0, 0, .05); }
.main-nav .sf-menu > li { display: inline-block; }
.main-nav .sf-menu li:hover > ul, .main-nav .sf-menu li.sfHover > ul { display: block; }
.main-nav .sf-menu a { display: block; position: relative; }
.main-nav .sf-menu a:hover { color: #c44741; }
.main-nav .sf-menu ul li { width: 180px; background: #fff; text-align: left; border-left: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: solid 1px #ddd; }
.main-nav .sf-menu ul li a { padding: 10px 15px; font-size: 13px; }
.main-nav .sf-menu ul ul { top: 0; left: 100%; }
.main-nav .sf-menu ul ul li { background: #fff; border-left: solid 1px #eee; }
/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul { padding-right: 2.5em; *padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
.sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after { border-top-color: white; /* IE8 fallback colour */ }
.sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows ul .sfHover > .sf-with-ul:after { border-left-color: #999; }
#toggle-btn { position: absolute; width:35px; height:35px; top: 50px; right:10px; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border-radius: 5px; cursor: pointer; -webkit-transition: 400ms; transition: 400ms; }
#toggle-btn:hover { border-color: #555; }
#toggle-btn span { position: relative; top: 0; display: block; width: 100%; height: 4px; margin-bottom: 8px; background: #360033; -webkit-transition: 300ms ease-in-out; transition: 300ms ease-in-out; }
#toggle-btn span:last-child { margin-bottom: 0; }
#toggle-btn.open span { background: #340536; }
#toggle-btn.open span:nth-child(2) {
 opacity: 0;
}
#toggle-btn.open span:first-child { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); top: 12px; }
#toggle-btn.open span:last-child { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); top: -12px; }
.toggle-subarrow { display: none; }
#toggle-btn { display: none; }
@media (max-width:800px) {
 .logo-lg {
 display:none
}
.logo-sm {
 display:block;
}
 .brand {
 height: 70px !important;
 margin: 10px 0 !important;
 width: 100px !important;
}
}
 @media (max-width: 740px) {
.sf-menu {
 clear:both;
 position: relative;
}
 #toggle-btn {
 display: block;
}
 .toggle-subarrow {
 display: block !important;
 cursor: pointer;
 position: absolute;
 right: 0;
 top: 0;
 width: 45px;
 height: 42px;
 border-left: 1px solid #e8e8e8;
 text-align: center;
 color: #777;
}
 .toggle-subarrow .fa {
 margin-top:14px;
}
 .main-nav {
 text-align: left;
 white-space: nowrap;
 padding: 0;
}
 .sf-menu {
 display: none;
}
.main-nav .sf-menu > li {
 font-size: 13px;
 line-height: 16px;
 display: block;
 border-top: 1px solid #e8e8e8;
}
 .main-nav .sf-menu li a {
 color: #111;
 padding: 13px 57px 13px 15px;
 display: block;
 position: relative;
 background-color: transparent!important;
}
 .main-nav .sf-menu ul {
border: none;
}
 .main-nav .sf-menu ul li {
 width: 100%;
 margin-left: 30px;
 font-size: 13px;
 line-height: 16px;
 font-weight: 400;
 position: relative;
 border:none;
 border-top: 1px solid #e8e8e8;
}
 .sf-menu ul {
 position:static!important;
 display: none!important;
}
 .mob-drop ul {
 display: block!important;
}
}
 @media (max-width: 350px) {
 .top-list {
 padding:0;
}
.top-list li {
 line-height:35px;
}
 .top-list li:last-child {
 font-size: 20px;
 position: absolute;
 right: 45px;
 top: 16px;
}
}
#wrapper { clear:both; margin:0 auto; padding:0; position:relative; }
/*BX Slider*/

/* -------- */
/* SLIDER-1 */
/* -------- */
.slider-1_wrapper { position: relative; }
.slider-1 { width: 100% !important; position: relative; padding: 0; max-height: 451px !important; overflow: hidden; }
.tp-rightarrow.default, .tp-leftarrow.default { width: 51px !important; height: 51px !important; }
.tp-leftarrow.default { background-image: url("../images/large_left.png") !important; }
.tp-rightarrow.default { background-image: url("../images/large_right.png") !important; }
/* bx slider */
.bx-wrapper { margin-bottom: 0; }
.bx-wrapper img { min-width: 100%; }
.bx-wrapper .bx-viewport { background: none; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; left: 0; }
.bx-wrapper .bx-prev, .bx-wrapper .bx-next { background-image: url(./images/bx_controls.png); }
.bx-wrapper .bx-prev { left: 13px; }
.bx-wrapper .bx-next { right: 13px; }
.section-padding { padding-bottom: 5.6rem; padding-top: 5.6rem; }
.section-padding-none { padding-bottom: 0; padding-top: 0; }
.section-padding-equal-xs { padding-bottom: 15px; padding-top:  15px; }
.section-padding-lg { padding-bottom: 9.8rem; padding-top: 9.8rem; }
.section-padding-xl { padding-bottom: 14rem; padding-top: 14rem; }
.section-padding-xxl { padding-bottom: 15.4rem; padding-top: 15.4rem; }
.parallax-container { position: relative; }
.parallax-container .content-column:first-of-type { min-height: 1px; }
.parallax-image { position: absolute; border-radius: 2px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 7px 15px rgba(0, 0, 0, 0.42); border: 7px solid #fff; background-color: #fff; max-width: 260px; height: auto; }
.parallax-image:nth-child(1) {
 left: 15%;
 top: -60%;
 transform:rotate(-10deg);
 -ms-transform:rotate(-10deg);
 -webkit-transform:rotate(-10deg);
 z-index: 3;
}
.parallax-image:nth-child(2) {
 left: 18%;
 bottom: 0;
 z-index: 1;
 transform:rotate(7deg);
 -ms-transform:rotate(7deg);
 -webkit-transform:rotate(7deg);
}
.parallax-image:nth-child(3) {
 left: 20%;
 bottom: -70%;
 z-index: 2;
 transform:rotate(16deg);
 -ms-transform:rotate(16deg);
 -webkit-transform:rotate(16deg);
}
.text-purple { color:#02284D }
.text-red { color:#C3674C }
.mn { margin:0 auto; }
.mb10 { margin-bottom:10px; }
.padv15 { padding:15px 0; }
.padt15 { padding-top:15px; }
 